.container
  %ul.controls
    %li.stop
      %a.button{ :'ng-click' => 'destroyProviderApp(providerApp.id)', :title => _('Terminate') }= _('Terminate')

  %h3{ :'ng-bind' => 'providerApp.name' }

  %dl.ip
    %dd{ :'ng-bind' => 'providerApp.ips.join(", ")' }

  = link_to _("see more"), "", :'ng-click' => "showProperties=!showProperties", :class => "more"

%ul.properties.js_hide{ :'wm-toggle' => "showProperties" }
  %li
    %span.label= _("Status")
    %span{ :'ng-bind' => "providerApp.state" }
  %li
    %span.label= _("Uptime")
    %span{ :'ng-bind' => 'providerApp.creation_time' }
    / = time_ago_in_words(app.created_at, true)
  %li
    %span.label= _("Launchable")
    %span{ :'ng-bind' => 'providerApp.launchable.name|notAvailable:"N/A"' }
  %li
    %span.label= _("Cores")
    %span{ :'ng-bind' => "providerApp.cores" }
  %li
    %span.label= _("Memory")
    %span{ :'ng-bind' => "providerApp.memory" }
    / = number_to_human_size(app.memory)
