= hidden_field_tag 'launchable_id', provider_application.launchable.id
.control_group
  .label= form.label :name, :for => 'provider_application_name'
  .input= form.text_field :name, :name => 'provider_application[name]'
.control_group
  .label= form.label :cores, :for => 'provider_application_cores'
  .input= form.number_field :cores, :name => 'provider_application[cores]'
