%li
  %span.label= _("Status")
  %span{ :'ng-bind' => "providerApp.state" }
%li
  %span.label= _("Uptime")
  %span{ :'ng-bind' => 'providerApp.uptime' }
%li
  %span.label= _("Launchable")
  %span{ :'ng-bind' => 'providerApp.launchable.name|notAvailable:"N/A"' }
%li
  %span.label= _("Cores")
  %span{ :'ng-bind' => "providerApp.cores" }
%li
  %span.label= _("Memory")
  %span{ :'ng-bind' => "providerApp.humanized_memory" }

