%section
  %h2= _("What can you do with Winged Monkey?")
  .box.three
    %h4= _("Launch")
    %p.smaller
      = _("You can select from a variety of applications for your selected back end provider. Each application may have options that allow you to customize the running systems. Click Launch to launch a new application and get started.")
  .box.three
    %h4= _("Monitor")
    %p.smaller
      = _("After you have launched some applications, you can monitor their status. The way the status is reported by each applciation may vary depending on which back end provider is hosting your applciation.")
  .box.three
    %h4= _("Manage")
    %p.smaller
      = _("Running applications can be stopped, restarted, paused, resumed, and deleted.")
