%section
  %h2= _("What can you do with Winged Monkey?")
  .box.three
    %h4= _("Launch")
    %p.smaller
      = _("In as little as three clicks, you can select a template and launch an application on the provider of your choice.")
  .box.three
    %h4= _("Monitor")
    %p.smaller
      = _("The dashboard presents significant events for all of your running applications in a concise view.")
  .box.three
    %h4= _("Manage")
    %p.smaller
      = _("You decide when to pause, snapshot, and terminate your applications Note: capabilities may vary by provider.")
