.list_controls{ :'ng-show' => "providerApps.length > 0"}
  #refresh_applications_list
    %a{ :'ng-click' => 'refreshProviderApps()' }= _('Refresh List')
  %label= _("Search:")
  %input{ :'ng-model' => 'search.name' }
  %label= _("Sort:")
  %a{ :'ng-click' => "predicate = 'name'; reverse=!reverse"}= _("Name")
  %a{ :'ng-click' => "predicate = 'state'; reverse=!reverse"}= _("State")
