%div{ :'ng-show' => "appsLoaded && providerApps.length == 0" }
  %p.no_app_box
    = _("It looks like you haven't launched any applications yet. To get started, launch a new application.")

  %section.start
    %h2= _("What can you do with Winged Monkey?")

    .box.three
      %h3= _("Launch")
      .graphics
        = image_tag("start_launch.png")
      %p.smaller
        = _("In as little as three clicks, you can select a launchable and launch an application on the provider of your choice.")

    .box.three
      %h3= _("Monitor")
      .graphics
        = image_tag("start_monitor.png")
      %p.smaller
        = _("The dashboard presents significant events for all of your running applications in a concise view.")

    .box.three
      %h3= _("Manage")
      .graphics
        = image_tag("start_manage.png")
      %p.smaller
        = _("You decide when to pause, snapshot, and terminate your applications. Note: capabilities may vary by provider.")
