- title _("My Applications")

- content_for :sidebar do
  .container
    %section.launch
      = link_to _("Launch New Application"), launchables_path, :class => 'button primary', :id => "launch"
    %section

%section
  %h2= _("My Applications")

  - if @provider_applications.blank?
    = render :partial => "getting_started"
  - else
    %ul.provider_applications
      - @provider_applications.each do |app|
        %li.provider_application.running.toggle_container
          = render_provider_partial("provider_application", { :app => app })

= render :partial => 'features'
