- title _("My Applications")

-#
  - content_for :sidebar do
    .container
      %section.launch
        = link_to _("Launch New Application"), launchables_path, :class => 'button primary', :id => "launch"
      %section

%section{ :'ng-controller' => "ProviderAppsCtrl" }
  %h2= _("My Applications")
  = link_to _("Launch New Application"), launchables_path, :class => 'button', :id => "launch", :'ng-class' => "{'button primary': appsLoaded && providerApps.length == 0}"
  = render :partial => 'loading'
  = render :partial => 'no_application'
  = render :partial => 'list_controls'

  %ul.provider_applications
    = render :partial => 'empty_filter'
    = render :partial => "provider_applications", :locals => {:provider_applications => @provider_applications }

