- title _("My Applications")

-#
  - content_for :sidebar do
    .container
      %section.launch
        = link_to _("Launch New Application"), launchables_path, :class => 'button primary', :id => "launch"
      %section

%section{ :'ng-controller' => "ProviderAppsCtrl" }
  %h2= _("My Applications")
  = link_to _("Launch New Application"), launchables_path, :class => 'provider_application', :id => "launch"

  - if @provider_applications.blank?
    = render :partial => "getting_started"
  - else
    #refresh_applications_list
      = render "update_applications_link"
    #refresh_applications_list
      %a{ :'ng-click' => 'refreshProviderApps()' } Refresh Angular
    %ul.provider_applications
      = render :partial => "provider_applications", :locals => {:provider_applications => @provider_applications }

= render :partial => 'features'
