- title _("My Applications")

-#
  - content_for :sidebar do
    .container
      %section.launch
        = link_to _("Launch New Application"), launchables_path, :class => 'button primary', :id => "launch"
      %section

%section{ :'ng-controller' => "ProviderAppsCtrl" }
  %h2= _("My Applications")
  = link_to _("Launch New Application"), launchables_path, :class => 'provider_application', :id => "launch"

  / - if @provider_applications.blank?
  /   = render :partial => "getting_started"
  / - else
  .spinner{:'ng-hide' => "providerApps" }
    %h3= _('Your Applications are loading...')
  .spinner{:'ng-hide' => "providerApps" }
    %h3= _('Your Applications are loading...')
  .spinner{:'ng-hide' => "providerApps" }
    = render :partial => "getting_started"
  #refresh_applications_list
    = render "update_applications_link"
  #refresh_applications_list
    %a{ :'ng-click' => 'refreshProviderApps()' } Refresh Angular
  %label= _("Search:")
  %input{ :'ng-model' => 'search.name' }
  %label= _("Sort:")
  %a{ :'ng-click' => "predicate = 'name'; reverse=!reverse"}= _("Name")
  %a{ :'ng-click' => "predicate = 'state'; reverse=!reverse"}= _("State")
  %ul.provider_applications
    = render :partial => "provider_applications", :locals => {:provider_applications => @provider_applications }

= render :partial => 'features'
