- title _("Application Overview")

%section
  .breadcrumbs= link_to _("< My Applications"), provider_applications_path

  %h2= _("Launch a New Application")
  %ol.progress
    %li
      %span= _("Select a Launchable")
    %li
      %span= _("Configure and Deploy")
    %li
      %span.current= _("Application Overview")

%section
  %h3
    %span.success.strong= _("Success!")
    = _("Your new application is starting now.")

  %dl.properties
    %dt= _("Name")
    %dd= @provider_application.name
    %br
    %dt= _("Launchable")
    %dd= @provider_application.launchable.name
    %br
    %dt= _("Status")
    %dd= @provider_application.state
    %br
    = render_provider_partial(:provider_applications, :summary, {:app => @provider_application})

%section
  %h3= _("What's next?")
  %p
    / = _("Visit the application to monitor status and begin using the application once it has completed launching.")
    / %br
    / = link_to _("Go to Application"), provider_application_path(@provider_application.id), :class => 'button primary'
    = link_to _("List of my Applications"), provider_applications_path, :class => 'button primary'
    = link_to _("Launch another Application"), launchables_path, :class => 'button'
