%section
  %h2 Launch a New Application
  %ol.progress
    %li
      %span Select an Application Blueprint
    %li
      %span Configure and Deploy
    %li
      %span.current Application Overview

%section
  %h3
    %span.success.strong Success!
    = "Your new application is starting now."

  %dl.properties
    %dt Name
    %dd= @provider_application.name
    %dt Launchable
    %dd= @provider_application.launchable.name

%section
  %h3 What's next?
  %p
    -#= "Visit the application to monitor status and begin using the application once it has completed launching."
    -#%br
    -#= link_to "Go to Application", provider_application_path(@provider_application.id), :class => 'button primary'
    = link_to "List of my Applications", root_path, :class => 'button primary'
    = link_to "Launch another Application", launchable_path, :class => 'button primary'
