- title _("Configure and Deploy")

%section
  .breadcrumbs= link_to _("< My Applications"), provider_applications_path

  %h2= _("Launch a New Application")
  %ol.progress
    %li
      = link_to _("Select an Application Blueprint"), launchables_path
    %li
      %span.current= _("Configure and Deploy")
    %li
      %span= _("Application Overview")

%section
  %h3= _("You selected")
  .launchable
    = render_provider_partial("launchable_summary", {:launchable => @launchable })

= render 'shared/error_messages', :object => @provider_application if @provider_application.errors.any?
= form_for @provider_application, :url => provider_applications_path, :html => { :class => 'form' } do |f|
  %section
    %h3= _("Configuration")
    = render_provider_partial("provider_application_form", {:form => f, :provider_application => @provider_application})
  %section
    = f.submit _("Deploy Launchable"), :id => 'save', :class => 'button primary'
