.container
  %ul.controls
    %li.run
      %a.button{ :'ng-click' => 'startProviderApp(providerApp.id)', :title => _('Start') }= _('Start')
    %li.pause
      %a.button{ :'ng-click' => 'pauseProviderApp(providerApp.id)', :title => _('Pause') }= _('Pause')
    %li.stop
      %a.button{ :'ng-click' => 'stopProviderApp(providerApp.id)', :title => _('Stop') }= _('Stop')
    %li.terminate
      %a.button{ :'ng-click' => 'destroyProviderApp(providerApp.id)', :title => _('Terminate') }= _('Terminate')

  %h3{ :'ng-bind' => 'providerApp.name' }

  = link_to _("see more"), "", :'ng-click' => "showProperties=!showProperties", :class => "more"

%ul.properties.js_hide{ :'wm-toggle' => "showProperties" }
  %li
    %span.label= _("Status")
    %span{ :'ng-bind' => "providerApp.state" }
  %li
    %span.label= _("Launchable")
    %span{ :'ng-bind' => 'providerApp.launchable.name' }
