.container
  %ul.controls
    %li.stop= button_to 'Stop', provider_application_path(app.id), :method => :delete, :confirm => 'Are you sure you want to stop this application?', :class => 'button warning', :title => 'Stop'

  %h3
    = link_to app.name, provider_application_path(app.id)

  %dl.ip
    %dd 10.14.151.623

  = link_to "see more", "#", :class => "more js_toggle_trigger", "data-title-closed" => "see more", "data-title-open" => "see less"

%ul.properties.js_hidden.js_toggleable
  %li
    %span.label Status
    = app.state
  %li
    %span.label Running time
    = "10h 20min"
  %li
    %span.label Launchable
    = app.launchable.name
