- title _("Select a Launchable")

%section
  .breadcrumbs= link_to _("< My Applications"), provider_applications_path
  %h2= _("Launch a New Application")

  %ol.progress
    %li
      %span.current= _("Select a Launchable")
    %li
      %span= _("Configure and Deploy")
    %li
      %span= _("Application Overview")

%section
  - if @launchables.blank?
    %p= _("There are no Launchables available.")
  - else
    %ul.launchables
    - @launchables.each do |launchable|
      %li.launchable
        = render_provider_partial(:launchables, :details, {:launchable => launchable })
