%section
  %h2= _("Launch a New Application")

  %ol.progress
    %li
      %span.current= _("Select an Application Blueprint")
    %li
      %span= _("Configure and Deploy")
    %li
      %span= _("Application Overview")

%section
  - if @launchables.blank?
    %p= _("There are no Application Blueprints available.")
  - else
    %ul.launchables
    - @launchables.each do |launchable|
      %li.launchable
        = render_provider_partial("launchable", {:launchable => launchable })
