%h2 Sign up
= form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = devise_error_messages!
  %div
    .left= f.label :email
    .right= f.email_field :email
  %div
    .left= f.label :password
    .right= f.password_field :password
  %div
    .left= f.label :password_confirmation
    .right= f.password_field :password_confirmation
  %div
    = f.submit "Sign up"
= render "devise/shared/links"
