%section
  %h2 Configure and Deploy
  %ol.progress
    %li
      = link_to "Select an Application Blueprint", launchables_path
    %li
      %span.current Configure and Deploy
    %li
      %span Use Your Application

%section
  %h3 You selected
  .launchable
    = render_provider_partial("launchable_summary", {:launchable => @launchable })
%section
  %h3 Configuration
  = form_for @provider_application, :url => provider_applications_path, :html => { :class => 'form' } do |f|
    = render_provider_partial("provider_application_form", {:form => f, :provider_application => @provider_application})
    .control_group
      = f.submit "Deploy " + @launchable.name, :id => 'save', :class => 'button primary'
