#heading Configure and Deploy

#launch-steps{style: "text-align:center; overflow: hidden;"}
  .step#step1{style: "width:32%;float:left"}
    = link_to "1. Select an Application Blueprint", launchables_path
  .step#step2{style: "width:32%;float:left"}
    2. Configure and Deploy
  .step#step3{style: "width:33%;float:left"}
    3. Use Your Application

Here should be the ProviderApplication configuration form as described in Wireframes page 8.

= form_for @launchable, :url => provider_applications_path do |f|
  = hidden_field_tag :launchable_id, @launchable.id
  = text_field_tag :name
  = f.submit "Launch " + @launchable.name, :id => 'save'
