- @launched_apps.select {|app| app.running?}.each do |app|
  .box{:style => "margin-bottom: 10px"}
    .vm
      .left
        .app-name= app.name
        .status= app.status
      .right
        .stats= "#{app.cores} CPU / #{app.memory.to_i / 1024 / 1024}MB Memory"
