!!!
%html
  %head
    %title
      Winged Monkey
      = yield :title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #container
        #header
          .controls
            - if authenticated?
              = "Logged into #{current_provider.name}."
              = link_to "Change your provider.", logout_path
          %h1= link_to "Winged Monkey", root_url
        #sidebar
          = yield :sidebar if content_for? :sidebar
        #content
          = render :partial => 'shared/flash_messages'
          - if Provider.all.blank?
            = render "shared/no_providers"
          - else
            = yield
        #footer_spacer
      #footer
        Winged Monkey brought to you by Monkey Wings
