!!!
%html
  %head
    %title
      Winged Monkey
      = yield :title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .two-column
      #header
        #logo
          = link_to "Winged Monkey", root_url
        #controls
          = render "shared/provider_dropdown"
        #user-nav
          = render "shared/user_nav"
      #main-content
        .container
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
        - if Providers.empty?
          = render "layouts/no_providers"
        - else
          = yield
      #sidebar
        - if current_provider
          %button#jfl-button.alpha
            = link_to launchables_path do
              %span.really-big +
              %span Launch New Application

        = yield :sidebar
      #footer
        Winged Monkey brought to you by Monkey Wings
