<!DOCTYPE html>
%html
  %head
    %title
      Winged Monkey
      = yield :title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .two-column
      #header
        #logo
          = link_to "Winged Monkey", root_url
        #controls
          = render "layouts/provider_dropdown"
        #user-nav
          - if user_signed_in?
            = link_to edit_user_registration_path do
              %strong= current_user.email
            |
            = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign up", new_user_registration_path
            |
            = link_to "Login", new_user_session_path
      #main-content
        .container
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      #sidebar
        - if current_provider
          %button#jfl-button.alpha
            = link_to launchables_path do
              %span.really-big +
              %span Launch New Application

        = yield :sidebar
      #footer
        Winged Monkey brought to you by Monkey Wings
