.container
  = render :partial => 'provider_applications/controls'

  %h3{ :'ng-bind' => 'providerApp.name' }

  %dl.ip
    %dd{ :'ng-bind' => 'providerApp.ip_addresses.join(", ")' }

  = link_to _("see more"), "", :'ng-click' => "showProperties=!showProperties", :class => "more"

%ul.properties.js_hide{ :'wm-toggle' => "showProperties" }
  %li
    %span.label= _("Status")
    %span{ :'ng-bind' => "providerApp.state" }
  %li
    %span.label= _("Uptime")
    %span{ :'ng-bind' => 'providerApp.created_at' }
    / = time_ago_in_words(app.created_at, true)
  %li
    %span.label= _("Launchable")
    %span{ :'ng-bind' => 'providerApp.launchable.name' }
  %li
    %span.label= _("Flavor")
    %span{ :'ng-bind' => 'providerApp.flavor.name_with_description' }
