= hidden_field_tag 'launchable_id', provider_application.launchable.id
.control_group
  .label= form.label :name, :for => 'provider_application_name'
  .input= form.text_field :name, :name => 'provider_application[name]'
.control_group
  .label= form.label :flavor_id, :for => 'provider_application_flavor_id'
  .input= form.collection_select :flavor_id, current_provider.flavors, :id, :name_with_description, {:include_blank => false}, {:name => 'provider_application[flavor_id]', :id => 'provider_application_flavor'}
