!!!
%html
  %head
    %title
      Winged Monkey
      = yield :title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #container
        = render :partial => 'shared/flash_messages'
        #header
          = link_to image_tag("logo.png"), root_url, :id => "logo"
          .controls
            - if authenticated?
              = "Logged into #{current_provider.name}."
              = link_to "Change your provider.", logout_path
        #sidebar
          = yield :sidebar if content_for? :sidebar
        #content
          = yield
        #footer_spacer
      #footer
        Winged Monkey brought to you by Monkey Wings
