!!!
%html.no-js
  %head
    %title
      = _("Winged Monkey")
      \|
      = yield :title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
  %body{ :'ng-app' => "wingedMonkey" }
    = render :partial => 'shared/flash_messages'
    %div{:'wm-flash-message' => ""}
    #wrapper
      #header
        = link_to image_tag("logo.png"), root_url, :id => "logo"
        .controls
          - if authenticated?
            %span.highlight= session[:current_provider_creds][:username]
            - if session[:current_provider_creds][:username].present?
              %span= "at"
            %span.highlight= current_provider.name
            %span= "(#{current_provider.type.camelize})"
            = link_to _("Log out"), logout_path, :class => "logout"
      #container
        #content
          = yield
        #sidebar
          = yield :sidebar if content_for? :sidebar
      #footer
        %span.info
          = _("Found a problem?")
          = link_to _("Report it"), "https://github.com/wingedmonkey/wingedmonkey/issues/new", :target => "_blank"
        %span.info
          = _("Need help?")
          = link_to _("Check the docs"), "https://github.com/wingedmonkey/documents/wiki", :target => "_blank"
