!!!
%html
  %head
    %title
      Winged Monkey
      = yield :title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => 'shared/flash_messages'
    #wrapper
      #header
        = link_to image_tag("logo.png"), root_url, :id => "logo"
        .controls
          - if authenticated?
            = "Logged into #{current_provider.name}."
            = link_to "Log out", logout_path
      #container
        #content
          = yield
        #sidebar
          = yield :sidebar if content_for? :sidebar
      #footer
        Winged Monkey brought to you by Monkey Wings
